@media (min-width:375px )and (max-width:820px){
    #home .container:first-child{
        flex-direction: column;
        flex-wrap: wrap;
    }
    /* .logo{
        width: 100%;
    } */
    #home .container li{
        margin: 16px;
    }
    .number-container2,.number-container3{
        display: none;
    }
    /* .overlay{
        padding-bottom: 80%;
    } */
    /* .number-container1{
        margin-top: 70%;
    } */
    .number-rounded {
        border: 5px solid;
        border-top-color: #0000ff;
        border-bottom-color: #0000ff;
        border-left-color: #8d8d8d;
        border-right-color: #0000ff;
        border-radius: 50%;
        width: 10%;
        /* height: 61%; */
        line-height: 31px; 
        text-align: center;
        font-size: 12px;
        /* margin-right: -28px; */
    }
    /* section 2 */
    #home2 .container{
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
    #home2 .container .sec1{
        width: 100%;
    }
    .ads{
        flex-wrap: wrap;

    }
    .ads .card{
        width: 100%;
    }
    .ads .card2{
        width: 100%;
    }
    .card3{
        width: 100%;
    }
    .mini-card1{
        width:100%;
        margin: 3% 0;
    }
    .three-cards{
        flex-wrap: wrap;
    }
    .three-cards .card1{
        width: 100%;
        margin: 4% 0;
    }
    .part1{
        width: 100%;
    }
    #latest .container{
        flex-wrap: wrap;
    }
    #latest .card{
        display: flex;
        flex-wrap: wrap;
    }
    #latest .card .card-img{
        width: 100%;
    }
    .aside2{
        width: 100%;
    }
    .world{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .footer-links{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .subs{
        width: 100%;
    }
    li
}